
body {
    background: url('https://images.unsplash.com/photo-1617545982334-3c05fcfa477c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center/cover;
    font-family: "Roboto", serif;
}

.container {
    position: relative;
    max-width: 600px;
    margin: 56px auto;
    padding: 25px;
    background: rgba(246, 239, 239, 0.826);    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 28px;
    color: #000;
  }

select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 0.5px solid #d7dcdc;
    border-radius: 22px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 17px 0px;
    color: #ee828a;
    background-color: #fbf0f0;
    font-family: "Bebas Neue", sans-serif;

}

h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    color: #555656;
    font-family: "Bebas Neue", sans-serif;
    margin: 0px 0px 15px 0;
}

.cities {
    display: flex;
    margin: 15px -2px 15px 0px;    
    justify-content: space-between;
    padding: 10px 0 20px 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    
}

.cities:first-child {
    padding: 30px 0 20px 0;
}

.cities:last-child {
    border:none;
    padding: 10px 0 30px 0;
}

h2 {
    margin: 0 5px 10px;
    font-size: 28px;
    font-weight: 500;
    color:#505353;
    font-family: "Bebas Neue", sans-serif;

}

.date {
    opacity: 0.7;
    font-weight: 400;
    font-size: 17px;
    color: #494b4b;
    padding: 0px 0px 5px 5px;   
}

.time {
font-size: 48px;
font-weight: 700;
color: #ee828a;
font-family: "Bebas Neue", sans-serif;

}

.time small {
    font-size: 26px;
    vertical-align: middle;
    line-height: 36px;
    font-weight: 500;
    color: #cd747acf;
    padding-right: 5px;

}

a {
    color: white;
    font-weight: 600;
}

.homepage {
    color: #ee828a;
    padding: 0px 0px 5px 6px;   


}

footer{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
}